**INTEGERS ve FLOATS**

In [1]:
num=3
print(type(num))
num_2=3.14
print(type(num_2))

<class 'int'>
<class 'float'>

int (tam sayılar): Örneğin: 5, -12, 1000

float (ondalık sayılar): Örneğin: 3.14, -0.5, 2.0

**Arithmetic Operators**

Addition: 3+2

Subtraction: 3-2

Multiplication: 3*2

Division: 3/2

Floor Divison: 3//2

Exponent:3**2

Modulus: 3%2

Not:Python'da 'abs()'fonksiyonu bir sayının mutlak değerini (absolute value) döndüren bir built-in (yerleşik) fonksiyondur.

Örnek:

In [2]:
print(abs(-3))

3

Not: Python'da round() fonksiyonu, ondalıklı sayıları belirli bir hassasiyete göre yuvarlayan bir built-in (yerleşik) fonksiyondur.

Örnek:

In [3]:
print(round(3.14159))
print(round(3.14159,4))

3
3.1416

**VERİ TİPİ DÖNÜŞÜMLERİ**

**Tam Sayıyı Ondalıklı Sayıya Çevirme**

In [4]:
#Çevireceğimiz sayıyı parantez içine alırız.

In [5]:
a=45
float(a)

45.0

In [6]:
float(28)

28.0

**Ondalıklı Sayıyı Tam Sayıya Çevirme**

In [8]:
#Bir ondalıklı sayıyı tam sayıya çevirmek için int() fonksiyonunu kullanabiliriz. 
#Sonuç, ondalıklı sayının tam kısmı şeklinde karşımıza çıkacaktır.

In [9]:
a=35.50
int(a)

35

In [10]:
int(3.14)

3

**Sayıları stringlere çevirme**

In [11]:
#Bir sayıyı stringe çevirmek için str() fonksiyonunu kullanabiliriz. 
#Sayıyı oluşturan tüm rakamlar veya noktalar birer karaktere dönüşecektir.

In [21]:
a=3256.50
a=str(a)
print(type(a))

<class 'str'>

In [18]:
x=452
str(x)

'452'

In [26]:
a=3.10000

len(str(a))

3

In [27]:
y=2145
len(y)

TypeError: object of type 'int' has no len()

In [28]:
#Kodumuz hata verdi çünkü y değişkeni bir string değil integer idi.

In [29]:
y=2145
len(str(y))

4

In [30]:
print(type(y))

<class 'int'>

In [31]:
y=2145
k=str(y)
print(type(k))

<class 'str'>

In [32]:
a=str(3.14)
len(a)

4

**Stringleri Tam Sayıya Çevirme**

Bir stringi bir tam sayıya çevirmek için int() fonksiyonunu kullanabiliriz. 
Ancak dönüştürme işlemini yaparken stringin her karakterinin bir rakam olduğundan emin olmalıyız.

In [37]:
#Doğru
a='656565'
b=int(a)
print(b)

656565

In [38]:
type(b)

int

In [39]:
#Hatalı- Her bir karakter onluk tabanda olmalıdır.
a='sdx5452xs'
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'sdx5452xs'

**Stringleri Ondalık Sayıya Çevirme**

Bir stringi bir ondalıklı sayıya çevirmek için float() fonksiyonunu kullanabiliriz. 
Ancak dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız.

In [40]:
#Doğru
a='3.144455'
b=float(a)
print(b)

3.144455

In [41]:
type(b)

float

In [42]:
#Hatalı
a=3.14.325
float(a)

SyntaxError: invalid syntax (2258683701.py, line 2)